
@{
    ViewData["Title"] = "Dashboard";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="/js/main.js"></script>
<h2>Dashboard</h2>
<br />
<div class="row">
    <div class="card">
        <div class="card-header h4">Brews</div>
        <div class="card-body">
            <div class="col">
                <h5>Current Brews</h5>
            </div>
            <div class="col">
                <h5>Past Brews</h5>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="card">
        <div class="card-header h4">Profiles <button class="btn btn-default float-right">Create New</button></div>
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="card">
        <div class="card-header h4">Controllers</div>
        <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
</div>


@*<h3>Profile</h3>
    <div style="width:75%; height:auto; margin:auto; border-style: solid;">
        <canvas id="ChartCnvs" width="1000" height="500"></canvas>
    </div>*@
